@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", monospace;
  --font-body: "Work Sans", sans-serif;

  --color-dark: #1f2544;
  --color-darker: #0b051a;
  --color-text: #fff;
  --color-primary: #474f7a;
  --color-secondary: #81689d;
  --color-tertiary: #ffd0ec;
  --color-accent: #32c7fa;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: var(--font-body);
    font-weight: 200;
    background-color: var(--color-darker);
    color: var(--color-text);
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .main-header {
    @apply my-6 text-center text-6xl font-bold md:text-8xl;
  }

  .custom-container {
    @apply mx-auto w-full max-w-[1280px] px-4 md:px-12 lg:px-20;
  }

  .focus-group {
    @apply transition-all duration-300 group-hover:opacity-40 hover:opacity-100;
  }
}
