@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", monospace;
  --font-body: "Work Sans", sans-serif;

  --color-dark: #1f2544;
  --color-darker: #0b051a;
  --color-text: #fff;
  --color-primary: #474f7a;
  --color-secondary: #81689d;
  --color-tertiary: #ffd0ec;
  --color-accent: #32c7fa;

  --animate-comeUp1000: comeUp1000 1000ms ease-in-out forwards;

  @keyframes comeUp {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes comeUp1000 {
    0% {
      transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes circleOut {
    0% {
      transform: scale(0);
      visibility: visible;
    }
    100% {
      transform: scale(1);
      visibility: visible;
    }
  }
  @keyframes slideDownUnder {
    0% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: var(--font-body);
    font-weight: 200;
    background-color: var(--color-darker);
    color: var(--color-text);
    scroll-behavior: smooth;
  }

  /* Navigation */
  .focus-peers > .peer:hover ~ .peer,
  .focus-peers > .peer:hover + .peer {
    opacity: 0.2;
  }
}

@layer utilities {
  .custom-container {
    @apply mx-auto w-full max-w-[1280px] px-4 sm:px-6 lg:px-8;
  }
}
